<head>	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<div class="container">
	<%= form_tag accomodations_filter_path do %>
		<div class="input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">
					<input type="checkbox" name="accessible">
				</div>
			</div>
			<input type="text" class="form-control" value="주출입구 접근로 여부" style="background-color:white" readonly>
			
			<div class="input-group-prepend">
				<div class="input-group-text">
					<input type="checkbox" name="parking">
				</div>
			</div>
			<input type="text" class="form-control" value="장애인 전용 주차구역 여부" style="background-color:white" readonly>
			
			<div class="input-group-prepend">
				<div class="input-group-text">
					<input type="checkbox" name="isflat">
				</div>
			</div>
			<input type="text" class="form-control" value="주출입구 높이차이 제거 여부" style="background-color:white" readonly>
			
			<div class="input-group-prepend">
				<div class="input-group-text">
					<input type="checkbox" name="elevator">
				</div>
			</div>
			<input type="text" class="form-control" value="장애인용 승강기 여부" style="background-color:white" readonly>
		</div>
		
		<div class="input-group mb-3">
			<input type="text" class="form-control" name="gu" placeholder="ex)강남구">
			<div class="input-group-append">
				<input type="submit" class="btn btn-outline-secondary" value="적용">
			</div>
		</div>
	<% end %>
	
	<br>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Address</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @accoms.each_with_index do |a,index| %>
				<tr>
					<td><%=index+1%></td>
					<!--<td><%=a.seq%></td>--!>
					<td><%=a.name%></td>
					<td><%=a.gu%></td>
					<td><%=link_to '상세보기', accomodation_path(a.id), class:"btn btn-light" %>
						<% if !session[:user_id].nil? %>
							<%=link_to '즐겨찾기', 
								member_bookmarks_path(:member_id=>session[:user_id], :id=>a.id, :type=>"accom"), 
								:data => {:confirm => 'Are you sure?'},
								method:"post", class:"btn btn-light", style:"background-color:#FFFF59" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
	<ul class="pagination justify-content-center">
		<%= will_paginate @accoms %>
	</ul>
</div>