<% id = params[:id] %>
<% accom = Accom.find(id) %>
<% detail = AccomDetail.find_by(accom_id:id) %>

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th><h4><%=accom.name%></h4></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Address :</td>
				<td><%=detail.address%></td>
			</tr>
			<tr>
				<td>Telephone :</td>
				<td><%=detail.telephone%></td>
			</tr>
			<tr>
				<td>Homepage :</td>
				<td><%=detail.homepage%></td>
			</tr>
			<tr>
				<td>Accessible :</td>
				<td><%=detail.accessible%></td>
			</tr>
			<tr>
				<td>Parking :</td>
				<td><%=detail.parking%></td>
			</tr>
			<tr>
				<td>Isflat :</td>
				<td><%=detail.isflat%></td>
			</tr>
			<tr>
				<td>Elevator :</td>
				<td><%=detail.elevator%></td>
			</tr>
		</tbody>
	</table>
</div>