<% id = params[:id] %>
<% accom = Accom.find(id) %>
<% detail = AccomDetail.find_by(accom_id:id) %>

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th><h4><%=accom.name%></h4></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Address :</td>
				<td><%=detail.address%></td>
			</tr>
			<tr>
				<td>Telephone :</td>
				<td><%=detail.telephone%></td>
			</tr>
			<tr>
				<td>Homepage :</td>
				<td><%=detail.homepage%></td>
			</tr>
			<tr>
				<td>Accessible :</td>
				<td><%=detail.accessible%></td>
			</tr>
			<tr>
				<td>Parking :</td>
				<td><%=detail.parking%></td>
			</tr>
			<tr>
				<td>Isflat :</td>
				<td><%=detail.isflat%></td>
			</tr>
			<tr>
				<td>Elevator :</td>
				<td><%=detail.elevator%></td>
			</tr>
		</tbody>
	</table>
	
	<hr>
		<%= link_to 'Back', :back, class:"btn btn-light" %>
		<% if !session[:user_id].nil? %>
			<%= link_to 'Bookmark', member_bookmarks_path(session[:user_id], :id=>id, :type=>"accom"), 
				:data => {:confirm => 'Are you sure?'},
				method:"post", class:"btn btn-light", style:"background-color:#FFFF59" %>
		<% end %>
	<hr>
	
	<div class="card card-body bg-light">
	
		<% accom.accom_comments.each do |c| %>
			<label>
				<strong><%= c.member_name %></strong>
				<%= c.comment %>
				<label style="float:right;color:blue"><%=c.created_at%></label>
			</label>
			<hr>
		<% end %>
		
		<%= form_tag accomodation_comments_path(id) do %>
			<input type="hidden" name="ctype" value="accom">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fas fa-user"></i>
				</span>
				<% if !session[:user_id].nil? %>
					<input type="text" name="writer" class="form-control" value="<%=Member.find(session[:user_id]).firstname%>" readonly style="background-color:white">
				<% else %>
					<input type="text" name="writer" class="form-control" value="Sign in to leave comment" readonly style="background-color:white">
				<% end %>
			</div>
			<div class="input-group">
				<span class="input-group-addon">
					<i class='fas fa-comment-alt'></i>
				</span>
				<input type="text" class="form-control" name="comment" placeholder="Comment">
				<span class="input-group-addon">
					<button type="submit" style="border:none; background:none;padding:0px">
						<i class="fas fa-share"></i>
					</button>
				</span>
			</div>
		<% end %>
		
	</div>
</div>