<div class="container">
	<div class="btn-group">
		<%= link_to '전체보기', bookmarks_path, class:"btn form-control" %>
		<%= link_to '식당만보기', bookmarks_show_restrs_path, class:"btn form-control" %>
		<%= link_to '숙박만보기', bookmarks_show_accoms_path, class:"btn form-control" %>
	</div>

	<hr>

	<% @bookmarks.each do |b| %>
		<% restr = Restr.find_by(seq:b.seq) %>
		<% accom = Accom.find_by(seq:b.seq) %>
		
		<% if !restr.nil? %>
			<%= link_to '삭제', bookmark_path(b.id, :type=>"restr"), method:"delete", class:"btn btn-warning", style:"padding:2px" %>
		
			<%= restr.name %>
			<%= restr.gu %>
			<%= link_to '자세히보기', restaurant_path(restr.id), class:"btn btn-light", style:"padding:2px" %>
		<% end %>
		
		<% if !accom.nil? %>
			<%= link_to '삭제', bookmark_path(b.id, :type=>"accom"), method:"delete", class:"btn btn-warning", style:"padding:2px" %>
		
			<%= accom.name %>
			<%= accom.gu %>
			<%= link_to '자세히보기', accomodation_path(accom.id), class:"btn btn-light", style:"padding:2px" %>
		<% end %>
		
		<hr>
		
	<% end %>
</div>