<div class="container">
	<div class="btn-group">
		<%= link_to '전체보기', bookmarks_path, class:"btn form-control" %>
		<%= link_to '식당만보기', bookmarks_show_restrs_path, class:"btn form-control" %>
		<%= link_to '숙박만보기', bookmarks_show_accoms_path, class:"btn form-control" %>
	</div>
	
	<hr>
	
	<% @accom_bookmarks.each do |a| %>
		<%= link_to '삭제', bookmark_path(a.id, :type=>"accom"), class:"btn btn-warning", style:"padding:2px" %>
		<%= a.seq %>
		<% accom = Accom.find_by(seq:a.seq) %>
		<%= accom.name %>
		<%= accom.gu %>
		<%= link_to '자세히보기', accomodation_path(a.id), class:"btn btn-light", style:"padding:2px" %>
		<hr>
	<% end %>
</div>