<h1>Bookmarks#show_accoms</h1>

<div class="container-fluid">
	<%= link_to '전체보기', bookmarks_path %>
	<%= link_to '식당만보기', bookmarks_show_restrs_path %>
	<%= link_to '숙박만보기', bookmarks_show_accoms_path %>
	
	<hr>
	
	<% @accom_bookmarks.each do |a| %>
		<%= link_to '삭제' %>
		<%= a.seq %>
		<% accom = Accom.find_by(seq:a.seq) %>
		<%= accom.name %>
		<%= accom.gu %>
		<%= link_to '자세히보기' %>
		<hr>
	<% end %>
</div>