<div class="container">
	<%= link_to '뒤로가기', restaurants_path %>

	<h1><%= @gu %></h1>
	<table class="table">
	<thead>
		<tr>
			<th>이름</th>
			<th>주소</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% if @accessible=="Y" && @parking=="Y" && @isflat=="Y" && @elevator=="Y" %><!--1YYYY--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.accessible=="Y" && d.parking=="Y" && d.isflat=="Y" && d.elevator=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
				<br>
			<% end %>
		<% end %>
	<% elsif @accessible=="Y" && @parking=="Y" && @isflat=="Y" && @elevator=="N" %><!--2YYYN--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.accessible=="Y" && d.parking=="Y" && d.isflat=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
				<br>
			<% end %>
		<% end %>
	<% elsif @accessible=="Y" && @parking=="Y" && @isflat=="N" && @elevator=="Y" %><!--3YYNY--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.accessible=="Y" && d.parking=="Y" && d.elevator=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
				<br>
			<% end %>
		<% end %>
	<% elsif @accessible=="Y" && @parking=="N" && @isflat=="Y" && @elevator=="Y" %><!--4YNYY--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.accessible=="Y" && d.isflat=="Y" && d.elevator=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
				<br>
			<% end %>
		<% end %>
	<% elsif @accessible=="N" && @parking=="Y" && @isflat=="Y" && @elevator=="Y" %><!--5NYYY--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.parking=="Y" && d.isflat=="Y" && d.elevator=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
				<br>
			<% end %>
		<% end %>
	<% elsif @accessible=="Y" && @parking=="Y" && @isflat=="N" && @elevator=="N" %><!--6YYNN--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.accessible=="Y" && d.parking=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
				<br>
			<% end %>
		<% end %>
	<% elsif @accessible=="Y" && @parking=="N" && @isflat=="Y" && @elevator=="N" %><!--7YNYN--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.accessible=="Y" && d.isflat=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
				<br>
			<% end %>
		<% end %>
	<% elsif @accessible=="Y" && @parking=="N" && @isflat=="N" && @elevator=="Y" %><!--8YNNY--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.accessible=="Y" && d.elevator=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
				<br>
			<% end %>
		<% end %>
	<% elsif @parking=="Y" && @elevator=="Y" %><!--9NYNY--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.accessible=="Y" && d.parking=="Y" && d.isflat=="Y" && d.elevator=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
				<br>
			<% end %>
		<% end %>
	<% elsif @accessible=="N" && @parking=="Y" && @isflat=="Y" && @elevator=="N" %><!--10NYYN--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.parking=="Y" && d.isflat=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
				<br>
			<% end %>
		<% end %>
	<% elsif @accessible=="N" && @parking=="N" && @isflat=="Y" && @elevator=="Y" %><!--11NNYY--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.isflat=="Y" && d.elevator=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
				<br>
			<% end %>
		<% end %>
	<% elsif @accessible=="Y" && @parking=="N" && @isflat=="N" && @elevator=="N" %><!--12YNNN--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.accessible=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
				<br>
			<% end %>
		<% end %>
	<% elsif @accessible=="N" && @parking=="Y" && @isflat=="N" && @elevator=="N" %><!--13NYNN--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.parking=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
				<br>
			<% end %>
		<% end %>
	<% elsif @accessible=="N" && @parking=="N" && @isflat=="Y" && @elevator=="N" %><!--14NNYN--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.isflat=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
			<% end %>
		<% end %>
	<% elsif @accessible=="N" && @parking=="N" && @isflat=="N" && @elevator=="Y" %><!--15NNNY--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<% if d.elevator=="Y" %>
				<%= r.name %>. <%= r.gu %>
				<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
				<br>
			<% end %>
		<% end %>
	<% else @accessible=="N" && @parking=="N" && @isflat=="N" && @elevator=="N" %><!--16NNNN--!>
		<% @restrs.each do |r| %>
			<% d = r.restr_detail %>
			<tr>
				<td><%= r.name %></td>
				<td><%= r.gu %></td>
				<td><%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %></td>
			</tr>
		<% end %>
	<% end %>
	</tbody>
	</table>
</div>