<div class="container">
	<form>
		<div class="row" style="padding-bottom:20px">
			<div class="col">
				<input type="checkbox" id="accessible" name="accessible" value="Bike">
				<label for="accessible"> 주출입구 접근로 여부</label>
			</div>
			<div class="col">
				<input type="checkbox" id="parking" name="parking" value="Car">
				<label for="parking"> 장애인 전용 주차구역 여부</label>
			</div>
			<div class="col">
				<input type="checkbox" id="isflat" name="isflat" value="Boat">
				<label for="isflat"> 주출입구 높이차이 제거 여부</label>
			</div>
			<div class="col">
				<input type="checkbox" id="elevator" name="elevator" value="Boat">
				<label for="elevator"> 장애인용 승강기 여부</label>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-5"> 
				<input type="text" class="form-control" placeholder="ex)강남구">
			</div>
			<div class="col-sm-2"> 
				<input type="submit" class="form-control btn btn-primary" value="적용">
			</div>
		</div>
	</form>
	<br>
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Address</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @restrs.each_with_index do |r,index| %>
				<tr>
					<td><%=index+1%></td>
					<!--<td><%=r.seq%></td>--!>
					<td><%=r.name%></td>
					<td><%=r.gu%></td>

					<td>
						<%= link_to '상세보기', restaurant_path(r.id), class:"btn btn-light" %>
						<% if !session[:user_id].nil? %>
							<%= link_to '즐겨찾기', 
								member_bookmarks_path(:member_id=>session[:user_id],:id=>r.id, :type=>"restr"), 
								:data => {:confirm => 'Are you sure?'},
								method:"post", class:"btn btn-light", style:"background-color:#FFFF59"%>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
	<%= will_paginate @restrs %>
	
	<ul class="pagination justify-content-center">
		<li class="page-item">
			<%=link_to '1', restaurants_path(:page=>1), class:"page-link"%>
		</li>
		<li class="page-item">
			<%=link_to '2', restaurants_path(:page=>2), class:"page-link"%>
		</li>
		<li class="page-item">
			<%=link_to '3', restaurants_path(:page=>3), class:"page-link"%>
		</li>
		<li class="page-item">
			<%=link_to '4', restaurants_path(:page=>4), class:"page-link"%>
		</li>
		<li class="page-item">
			<%=link_to '5', restaurants_path(:page=>5), class:"page-link"%>
		</li>
		<li class="page-item">
			<%=link_to '6', restaurants_path(:page=>6), class:"page-link"%>
		</li>
		<li class="page-item">
			<%=link_to '7', restaurants_path(:page=>7), class:"page-link"%>
		</li>
		<li class="page-item">
			<%=link_to '8', restaurants_path(:page=>8), class:"page-link"%>
		</li>
		<li class="page-item">
			<%=link_to '9', restaurants_path(:page=>9), class:"page-link"%>
		</li>
		<li class="page-item">
			<%=link_to '10', restaurants_path(:page=>10), class:"page-link"%>
		</li>
		<li class="page-item">
			<%=link_to '11', restaurants_path(:page=>11), class:"page-link"%>
		</li>
	</ul>
</div>
