<div class="container-fluid">
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>ID</th>
				<th>Name</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
			<% @restrs.each_with_index do |r,index| %>
				<tr>
					<td><%=index+1%></td>
					<td><%=r.restrid%></td>
					<td><%=r.name%></td>
					<td><%=r.address%></td>
					<% rd = r.restr_detail %>
					<td><%= rd.fulladd %></td>
					<td><%=link_to '자세히보기', restaurant_path(r.id), class:"btn btn-light" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
