<% id = params[:id] %>
<% restr = Restr.find(id) %>
<% detail = RestrDetail.find_by(restr_id:id) %>

<div class="container">
	<h3><%= restr.name %></h3>

	Full address : <%= detail.address%><br>
	Telephone : <%= detail.telephone%><br>
	Homepage : <%= detail.homepage %><br>
	Accessible : <%= detail.accessible%><br>
	Parking : <%= detail.parking %><br>
	Isflat : <%= detail.isflat %><br>
	Elevator : <%= detail.elevator %><br>
</div>