<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>주소로 장소 표시하기</title>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7adb1d767626cddc015320fe24791812&libraries=services"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<body>
		<p>
		<% if !session[:user_id].nil? && !Member.find(session[:user_id]).member_detail.address.nil? %>
		<form action="/map">
			<div class="input-group mb-3">
				<input type="text" class="form-control" name="useradd" 
					value="<%=Member.find(session[:user_id]).member_detail.address%>" placeholder="나의 주소">
				<input type="text" class="form-control" name="address" value="<%=params[:address]%>"
					placeholder="시설의 주소">
				<div class="input-group-append">
					<input type="submit" class="btn btn-outline-secondary" value="검색">
				</div>
			</div>
		</form>
		<p style="margin-top:-12px;margin-bottom:-10px">
		<em class="link">
			<a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
				혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.
			</a>
			<label>지도가 보이지 않을시 새로고침(F5)을 해주세요.</label>
		</em>
		</p>
	
		<div id="map" style="position:absolute;width:100%;height:100%;"></div>
		
		<script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		mapOption = {
			center: new kakao.maps.LatLng(37.500, 126.783333), // 지도의 중심좌표
			level: 5 // 지도의 확대 레벨
		};  

		// 지도를 생성합니다    
		var map = new kakao.maps.Map(mapContainer, mapOption); 

		// 주소-좌표 변환 객체를 생성합니다
		var geocoder = new kakao.maps.services.Geocoder();
		var geocoder2 = new kakao.maps.services.Geocoder();
		
		var coords;
		var coords2;
		
		// 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
		var bounds = new kakao.maps.LatLngBounds(); 

		// 주소로 좌표를 검색합니다
		geocoder.addressSearch('<%=params[:useradd]%>', function(result, status) {

			// 정상적으로 검색이 완료됐으면 
			if (status === kakao.maps.services.Status.OK) {

				coords = new kakao.maps.LatLng(result[0].y, result[0].x);
				bounds.extend(coords);
				// 결과값으로 받은 위치를 마커로 표시합니다
				var marker = new kakao.maps.Marker({
					map: map,
					position: coords
				});

				// 인포윈도우로 장소에 대한 설명을 표시합니다
				var infowindow = new kakao.maps.InfoWindow({
					content: '<div style="width:150px;text-align:center;padding:6px 0;"><%=params[:useradd]%></div>'
				});
				infowindow.open(map, marker);
			} 
		});
		
		geocoder2.addressSearch('<%=params[:address]%>', function(result, status) {

			// 정상적으로 검색이 완료됐으면 
			if (status === kakao.maps.services.Status.OK) {

				coords2 = new kakao.maps.LatLng(result[0].y, result[0].x);
				bounds.extend(coords2);
				// 결과값으로 받은 위치를 마커로 표시합니다
				var marker = new kakao.maps.Marker({
					map: map,
					position: coords2
				});

				// 인포윈도우로 장소에 대한 설명을 표시합니다
				var infowindow = new kakao.maps.InfoWindow({
					content: '<div style="width:150px;text-align:center;padding:6px 0;"><%=params[:address]%></div>'
				});
				infowindow.open(map, marker);
				<!--map.setCenter(coords2);--!>
				map.setBounds(bounds);
			} 
		});
		
		</script>
		<% else %>
		<form action="/map">
			<div class="input-group mb-3">
				<input type="text" class="form-control" name="address" value="<%=params[:address]%>">
				<div class="input-group-append">
					<input type="submit" class="btn btn-outline-secondary" value="검색">
				</div>
			</div>
		</form>
		<p style="margin-top:-12px;margin-bottom:-10px">
		<em class="link">
			<a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
				혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.
			</a>
			<label>지도가 보이지 않을시 새로고침(F5)을 해주세요.</label>
		</em>
		</p>
	
		<div id="map" style="position:absolute;width:100%;height:100%;"></div>
		
		<script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		mapOption = {
			center: new kakao.maps.LatLng(37.4966662,126.78723), // 지도의 중심좌표
			level: 3 // 지도의 확대 레벨
		};  

		// 지도를 생성합니다    
		var map = new kakao.maps.Map(mapContainer, mapOption); 

		// 주소-좌표 변환 객체를 생성합니다
		var geocoder = new kakao.maps.services.Geocoder();

		// 주소로 좌표를 검색합니다
		geocoder.addressSearch('<%=params[:address]%>', function(result, status) {

			// 정상적으로 검색이 완료됐으면 
			if (status === kakao.maps.services.Status.OK) {

				var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

				// 결과값으로 받은 위치를 마커로 표시합니다
				var marker = new kakao.maps.Marker({
					map: map,
					position: coords
				});

				// 인포윈도우로 장소에 대한 설명을 표시합니다
				var infowindow = new kakao.maps.InfoWindow({
					content: '<div style="width:150px;text-align:center;padding:6px 0;"><%=params[:address]%></div>'
				});
				infowindow.open(map, marker);

				// 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
				map.setCenter(coords);
			} 
		});    
		</script>
		<% end %>
		</p>

	</body>
</html>