<!DOCTYPE html>
<html>
  <head>
    <title>Testapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	<style>
		.navbar-light .nav-item{
			background-color:#f89b00;
		}
	</style>
  </head>

  <body>	
		<nav class="navbar navbar-light" style="background-color:#f89b00">
			<button class="navbar-toggler" type="button" 
				data-toggle="collapse" data-target="#navbarCollapse" 
				aria-controls="navbarCollapse" aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			
			<%= link_to 'testApp', root_path, class:"navbar-brand"%>
			
			<ul class="navbar-nav navbar-expand-sm">
				<% if session[:user_id].nil? %>
					<li class="nav-item">
					  <%=link_to new_session_path, class:"nav-link" do%>
						<%= image_tag "/enter-outline.svg", style:"width:20px" %>Login
					  <% end %>
					</li>
				<% else %>
					<li class="nav-item">
						<%= link_to session_path(session[:user_id]), method:"delete", class:"nav-link" do%>
							<%= image_tag "/exit-outline.svg", style:"width:20px" %>Logout
						<% end %>
					</li>
				<% end %>
			</ul>
			
			<div class="collapse navbar-collapse bg-light" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<%= link_to 'HOME', root_path, class:"nav-link" %>
					</li>
					<li class="nav-item">
						<%= link_to '지도', map_index_path, class:"nav-link" %>
					</li>
					<li class="nav-item">
						<%= link_to '식당', restaurants_path, class:"nav-link" %>
					</li>
					<li class="nav-item">
						<%= link_to '숙박', accomodations_path, class:"nav-link" %>
					</li>
					<li class="nav-item">
						<% if session[:user_id].nil? %>
							<%=link_to '즐겨찾기', new_session_path, class:"nav-link" %>
						<% else %>
							<%=link_to '즐겨찾기', bookmarks_path, class:"nav-link" %>
						<% end %>
					</li>
					<li class="nav-item">
						<% if session[:user_id].nil? %>
							<%=link_to '방문기록', new_session_path, class:"nav-link" %>
						<% else %>
							<%=link_to '방문기록', histories_path, class:"nav-link" %>
						<% end %>
					</li>
					<li class="nav-item">
						<%= link_to 'About Us', about_index_path, class:"nav-link" %>
					</li>
				</ul>
				<ul class="navbar-nav">
					<% if !session[:user_id].nil? %>
						<!--<%= image_tag "/person-outline.svg", style:"width:20px" %>--!>
						<li class="nav-item">
							<%= link_to '마이페이지', member_path(session[:user_id]), class:"nav-link" %>
						</li>
					<% else %>
						<!--<%= image_tag "/person-add-outline.svg", style:"width:20px" %>--!>
						<li class="nav-item">
						  <%=link_to '회원가입', new_member_path, class:"nav-link" %>
						</li>
					<% end %>
				</ul>
			</div>
		</nav>	

	
	<div class="container-fluid" style="margin-top:10px">
		<% if session[:user] %>
			<h4>Current User: <%=Member.find(session[:user]).firstname%><h4>
		<% end %>
		<%= yield %>
	</div>
	
  </body>
</html>
