<style>
	.btn{	
		border: 2px solid #E8E8E8;
	}
	.btn:focus{
		border: 2px solid #f0ad4e;
		box-shadow: 0px 0px 8px 0px #f0ad4e;
	}
	input[type=submit]:focus {
		box-shadow: 0px 0px 8px 0px #f0ad4e;
		border-color:#f0ad4e
	}
	.btn-custom{
		background-color:#f89b00
	}
</style>

<% id = params[:id] %>
<% member = Member.find(id) %>
<% detail = member.member_detail %>

<div class="container">
	<div class="btn-group">
		<%= link_to '회원정보', member_path, class:"btn form-control" %>
		<%= link_to '개인정보변경', edit_member_path, class:"btn form-control" %>
		<%= link_to '기록', histories_path, class:"btn form-control" %>
		<%= link_to '즐겨찾기', bookmarks_path, class:"btn form-control" %>
	</div>
	
	<%= form_tag member_path(member.id), method:"patch", :data=>{:confirm=>'개인정보를 변경하시겠습니까?'} do %>
		<table class="table">
			<thead>
				<tr>
					<th><h4><%=member.firstname%>님 환영합니다.</h4></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><label>사용자이름</label></td>
					<td><%= member.firstname %></td>
				</tr>
				<tr>
					<td><label>사용자성</label></td>
					<td><%= member.lastname %></td>
				</tr>
				<tr>
					<td><label>이메일</label></td>
					<td><%= member.email %></td>
				</tr>
				<tr>
					<td><label>휠체어사용여부</label></td>
					<td><input type="text" name="wheelchair" 
						value="<%= detail.wheelchair %>" style="border:none"></td>
				</tr>
				<tr>
					<td><label>자가용여부</label></td>
					<td><input type="text" name="vehicle" 
						value="<%= detail.vehicle %>" style="border:none"></td>
				</tr>
				<tr>
					<td><label>성별</label></td>
					<td><input type="text" name="gender" 
						value="<%= detail.gender %>" style="border:none"></td>
				</tr>
				<tr>
					<td><label>주소</label></td>
					<td><input type="text" name="address" 
						value="<%= detail.address %>" style="border:none"></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="확인" class="btn btn-custom form-control">
	<% end %>
</div>